body{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.image{
    background: url('hero.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}